
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
<ul class="nav">
<li class="nav-item">
<a class="nav-link" href="index.html">
  <i class="icon-grid menu-icon"></i>
  <span class="menu-title">Dashboard</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="index.html">
  <i class="icon-grid menu-icon"></i>
  <span class="menu-title">Users</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
  <i class="icon-layout menu-icon"></i>
  <span class="menu-title">Orders</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-basic">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Orders</a></li>
    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Order Items</a></li>
  </ul>
</div>
</li>
<li class="nav-item">
<a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
  <i class="icon-layout menu-icon"></i>
  <span class="menu-title">Products</span>
  <i class="menu-arrow"></i>
</a>
<div class="collapse" id="ui-basic">
  <ul class="nav flex-column sub-menu">
    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Products</a></li>
    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Reviews</a></li>
  </ul>
</div>
</li>

</ul>
</nav>